source_env_if_exists "${REPOS_ROOT:-../../..}/.envrc"
git_common_dir="$(git rev-parse --path-format=absolute --git-common-dir)"
dotenv_if_exists "$(dirname "$git_common_dir")/.env.local"
PATH_add scripts
use flox --mode run
